.active {
  background-color: #fccd2a;
  border: none;
  color: #1e5084;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  min-width: 220px;
  cursor: pointer;
}

.inactive {
  background-color: #1e5084;
  border-color: #fccd2a;
  border-width: 3px;
  border-style: solid;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  min-width: 220px;
}
